html {
    font-family: Helvetica, sans-serif;
    background-color: #0f1626;
    color: #f5f5f5;
}

h1 {
    text-align: center;
    margin: 10px 0 0 0;
}

.container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content {
    text-align: center;
    border-radius: 10px;
}

.botao {
    margin-top: 30px;
    text-transform: uppercase;
    color: #f5f5f5;
    border: solid 1px white;
    border-radius: 5px;
    min-width: 225px;
    min-height: 30px;
    background-color: transparent;
    transition-property: background-color;
    transition-duration: 0.1s;
}

.botao:hover {
    background-color: rgba(255, 255, 255, 0.1);
    cursor: pointer;
}

.erro {
    width: 230px;
    padding: 5px;
    display: block;
    padding: 5px 0px;
    color: rgb(255, 0, 0);
    border: none;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.1);
    margin-top: 20px;
}

.formulario-select {
    height: 30px;
}

.formulario-select > select {
    display: block;
    color: #f5f5f5;
    border: solid 1px #f5f5f5;
    border-radius: 10px 10px 0 0;
    margin-top: 50px;
    background-color: transparent;
    min-height: 30px;
    width: 225px;
    font-size: 14px;
    outline: none;
}

select option {
    color: black;
}

.formulario-select > label {
    pointer-events: none;
    color: rgba(245, 245, 245, 0.5);
    display: block;
    margin-top: -50px;
    transition-property: margin-top;
    transition-duration: 0.1s;
    font-style: italic;
    text-align: left;
}

.formulario-input {
    display: block;
    margin-top: 45px;
    width: 225px;
    height: 30px
}

.formulario-input > input {
    color: #f5f5f5;
    border: none;
    border-bottom: solid 1px #f5f5f5;
    background-color: transparent;
    min-height: 30px;
    width: 225px;
    font-size: 14px;
}

input:-webkit-autofill {
    transition-delay: 9999s;
}

.formulario-input > input:focus {
    outline: none;
}

.formulario-input > label {
    pointer-events: none;
    color: rgba(245, 245, 245, 0.5);
    display: block;
    margin-top: -22px;
    transition-property: margin-top;
    transition-duration: 0.1s;
    font-style: italic;
    text-align: left;
}

.formulario-input > input:not(:placeholder-shown) + label,
.formulario-input > input:focus + label,
.formulario-input > input:hover + label {
    margin-top: -45px;
}

a {
    display: block;
    margin-top: 10px;
    color: #f5f5f5;
    text-decoration: underline;
}

a:hover {
    color: rgb(170, 170, 245);
}
